# generic config

variable "quantity" { default = "{{ QUANTITY_CURRENT|default() }}" }
variable "image" { default = "{{ IMAGE }}" }
variable "name" { default = "{{ NAME }}" }
variable "cluster_name" { default = "{{ CLUSTER_NAME }}" }
variable "consul" { default = "{{ CONSUL }}" }
variable "consul_port" { default = "{{ CONSUL_PORT }}" }
variable "consul_encrypt" { default = "{{ CONSUL_ENCRYPT }}" }
variable "consul_datacenter" { default = "{{ CONSUL_DATACENTER }}" }
variable "network_security_ports" { default = "{{ NETWORK_SECURITY_PORTS|default() }}" }
variable "provider" { default = "{{ PROVIDER }}" }

# monitoring vars
variable "sentry_dsn" { default = "{{ SENTRY_DSN|default() }}" }
variable "telegram_bot_token" { default = "{{ TELEGRAM_BOT_TOKEN|default() }}" }
variable "telegram_chat_id" { default = "{{ TELEGRAM_CHAT_ID|default() }}" }

# service config
# see project repo for more config to use

variable "provisioner_role" { default = "{{ PROVISIONER_ROLE }}" }
variable "provisioner_role_version" { default = "{{ PROVISIONER_ROLE_VERSION|default() }}" }

## TODO move into 'if provider' when tfstate is not tied up with openstack swift
# openstack config

variable "os_network_name" { default = "{{ OS_NETWORK_NAME }}" }
variable "os_region" { default = "{{ OS_REGION_NAME }}" }
variable "os_auth_url" { default = "{{ OS_AUTH_URL }}" }
variable "os_tenant_name" { default = "{{ OS_TENANT_NAME }}" }
variable "os_tenant_id" { default = "{{ OS_TENANT_ID }}" }
variable "os_user_name" { default = "{{ OS_USERNAME }}" }
variable "os_password" { default = "{{ OS_PASSWORD }}" }
{% if PROVIDER == "openstack" %}
variable "availability_zones" { default = [{{ AVAILABILITY_ZONES|default("\"nova\"") }}]}
variable "context" { default = "{{ OS_USERNAME }}" }
variable "flavor" { default = "{{ FLAVOR }}" }
variable "keypair_name" { default = "{{ KEYPAIR_NAME }}" }

{% elif PROVIDER == "vsphere" %}
# vsphere config

variable "context" { default = "{{ VSPHERE_USERNAME|default() }}" }
variable "vsphere_user" { default = "{{ VSPHERE_USERNAME|default() }}" }
variable "vsphere_password" { default = "{{ VSPHERE_PASSWORD|default() }}" }
variable "vsphere_server" { default = "{{ VSPHERE_SERVER|default() }}" }
variable "vsphere_server_port" { default = "{{ VSPHERE_SERVER_PORT|default("443") }}" }
variable "vsphere_insecure" { default = "{{ VSPHERE_INSECURE|default("1") }}" }
variable "network_name" { default = "{{ NETWORK_NAME|default() }}" }
variable "cluster" { default = "{{ CLUSTER|default() }}" }
variable "flavor" { default = "{{ FLAVOR }}" }
variable "cpus" { default = "{{ CPUS|default(FLAVOR.split("-")[0]) }}" }
variable "memory" { default = "{{ MEMORY|default(FLAVOR.split("-")[1]) }}" }
variable "disk" { default = "{{ DISK|default(FLAVOR.split("-")[2]) }}" }
variable "datacenter" { default = "{{ DATACENTER|default() }}" }
variable "datastore" { default = "{{ DATASTORE|default() }}" }
variable "iso_datastore" { default = "{{ ISO_DATASTORE|default() }}" }
variable "keypair" { default = "{{ KEYPAIR|default() }}" }
variable "template_datastore" { default = "{{ TEMPLATE_DATASTORE|default() }}" }
variable "root_folder" { default = "{{ FOLDER|default("automium") }}" }
variable "folder" { default = "{{ FOLDER|default(CLUSTER_NAME) }}" }
variable "vsphere_scsi_controller_type" { default = "{{ VSPHERE_SCSI_CONTROLLER_TYPE|default("pvscsi") }}" }
variable "vsphere_resource_pool" { default = "{{ VSPHERE_RESOURCE_POOL|default("pvscsi") }}" }

{% elif PROVIDER == "vcd" %}
# vcd config

variable "context" { default = "{{ VCD_ORG|default() }}" }
variable "keypair" { default = "{{ KEYPAIR }}" }
variable "flavor" { default = "{{ FLAVOR }}" }
variable "cpus" { default = "{{ CPUS|default(FLAVOR.split("-")[0]) }}" }
variable "memory" { default = "{{ MEMORY|default(FLAVOR.split("-")[1]) }}" }
variable "disk" { default = "{{ DISK|default(FLAVOR.split("-")[2]) }}" }
variable "vcd_catalog" { default = "{{ VCD_CATALOG|default("automium") }}" }
variable "vcd_org" { default = "{{ VCD_ORG }}" }
variable "vcd_password" { default = "{{ VCD_PASSWORD }}" }
variable "vcd_server" { default = "{{ VCD_SERVER }}" }
variable "vcd_url" { default = "{{ VCD_URL }}" }
variable "vcd_username" { default = "{{ VCD_USERNAME }}" }
variable "vcd_vdc" { default = "{{ VCD_VDC }}" }
variable "keypair_name" { default = "{{ KEYPAIR_NAME }}" }
variable "network_name" { default = "{{ NETWORK_NAME }}" }
{% endif %}
