# generic config

variable "quantity" {}
variable "image" { default = "ubuntu1604-1.0.1-15" }
variable "name" {}
variable "cluster_name" {}
variable "consul" {}
variable "consul_port" { default = "8500" }
variable "consul_encrypt" {}
variable "consul_datacenter" {}

# service config
# see project repo for more config to use

variable "provisioner_role" {}
variable "provisioner_role_version" { default = "master" }

# openstack config

variable "flavor" {}
variable "keypair_name" {}
variable "network_name" {}
variable "region" {}
variable "auth_url" {}
variable "tenant_name" {}
variable "user_name" {}
variable "password" {}
